/* Font imports */
@import "https://fonts.googleapis.com/css?family=Montserrat";
@import "https://fonts.googleapis.com/css?family=Roboto+Condensed";
@import "https://fonts.googleapis.com/css?family=Pacifico|Roboto:100i";
/* Declared variable */
/* Navigation Style */
html {
  font-size: 100%; }

img {
  width: 100%; }

html, body {
  height: 100%; }

ul {
  list-style: none; }

a, a:hover, a:focus {
  color: #000;
  text-decoration: none; }

section h2 {
  margin-bottom: 2%; }

.wrap {
  height: 100%; }

.form-control {
  border-radius: 0; }

.alert {
  border-radius: 0;
  margin-bottom: 0; }

/* style for button manipulate */
.btn {
  border-radius: 0; }

.btn-create {
  border: 1px solid #5cb85c;
  color: #5cb85c; }

.btn-create:hover {
  background: #5cb85c;
  color: #FFFFFF;
  transition: .3s; }

.btn-delete {
  border: 1px solid #b92c28;
  color: #b92c28; }

.btn-delete:hover {
  background: #b92c28;
  color: #FFFFFF;
  transition: .3s; }

.btn-update {
  border: 1px solid #286090;
  color: #286090; }

.btn-update:hover {
  background: #286090;
  color: #FFFFFF;
  transition: .3s; }

/* Set border for element */
.navbar, .manage-container, .news {
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0; }

.logo_container .audi_logo {
  width: 100px;
  margin: 0 auto; }

nav .navbar-header {
  background: #f6f6f6; }
nav .icon-bar {
  background: #1a1a1a; }
nav li a {
  color: #1a1a1a; }
nav li:hover a {
  color: #1a1a1a; }

.navbar {
  margin: 0; }
  .navbar .dropdown a {
    color: #1a1a1a; }
  .navbar .dropdown ul {
    width: 100%; }

.dropdown-menu {
  padding: 0;
  border: none;
  border-radius: 0; }
  .dropdown-menu li {
    padding: 10px;
    border-bottom: 1px solid #f0f0f0; }
  .dropdown-menu li:hover {
    background: #f0f0f0;
    transition: all 0.3s ease; }
  .dropdown-menu li:hover a {
    background: none; }

/* Custom FlexSlide styles*/
.slider {
  padding: 0; }

.flexslider {
  border: none;
  margin-bottom: 0; }

/* Services */
.service .service-list {
  padding: 0;
  margin: 0; }
.service .service-item {
  margin: 0;
  padding: 0;
  margin-right: 1%; }
.service .service-list:last-child {
  margin-right: 0; }
.service .col-md-3 {
  width: 24%; }
.service p {
  padding: 2%;
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  background: #494949; }
.service p:hover {
  cursor: pointer;
  transition: .3s;
  background: #C80005; }

/* News */
.news .nav-pills a {
  color: #1a1a1a; }
.news .nav-pills li.active > a,
.news .nav-pills li.active > a:hover,
.news .nav-pills li.active > a:focus {
  background: #1a1a1a;
  color: #FFFFFF; }
.news #newsTab {
  margin-bottom: 1%; }
  .news #newsTab li a {
    border-radius: 0; }
.news .tab-content .col-md-3 {
  width: 24%;
  padding: 0;
  margin-right: 1%; }
.news .tab-content .item .item-info {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #FFF;
  padding: 2%;
  background: #494949; }
.news .tab-content .item-info:hover {
  transition: .3s;
  background: #C80005; }
.news .tab-content .item .item-info a {
  font-family: "Montserrat", sans-serif;
  color: #FFF; }
.news .tab-content .item:last-child {
  margin-right: 0; }

/* Login form */
.login {
  padding-bottom: 5%; }

/* Custom setting forms*/
.custom-form {
  padding-bottom: 2%; }

/* Engine Section */
.engine .item, .transmission .item, .model .item, .list-image .item {
  margin: 1% 0; }

.manage-control {
  margin: 1% 2%; }

/* Description Engine */
.description p {
  font-family: "Roboto", sans-serif; }

/* Engine */
.engine-header, .transmission-header, .model-header {
  position: relative;
  width: 100%; }
  .engine-header p, .transmission-header p, .model-header p {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    font-size: 3rem;
    top: 63%;
    left: 3%;
    color: #fff;
    padding-left: 0.3%; }

/* List Image */
.list-image .list-item .item {
  width: 100%; }
  .list-image .list-item .item p {
    margin-top: 2%; }
  .list-image .list-item .item img {
    border: 5px solid #FFFFFF;
    box-shadow: 0 0 2px #bababa; }

/* Scroll Top Button */
.scrollTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  z-index: 100; }

.short-view {
  padding: 2%; }
  .short-view h2 {
    margin: 0 0 2%; }

.highlights, .article {
  background: rgba(73, 73, 73, 0.62);
  padding: 3% 0;
  font-family: "Montserrat", sans-serif;
  color: #f0f0f0; }
  .highlights h2, .article h2 {
    margin: 0 0 2%; }
  .highlights .list-item, .article .list-item {
    margin: 0;
    padding: 0; }
  .highlights .item, .article .item {
    padding: 0 3%; }
    .highlights .item:hover .item-info, .article .item:hover .item-info {
      background: rgba(200, 10, 27, 0.87);
      transition: .3s; }
    .highlights .item .item-info, .article .item .item-info {
      padding: 3%;
      background: rgba(73, 73, 73, 0.62); }
      .highlights .item .item-info a, .article .item .item-info a {
        color: #f0f0f0; }

/* car gallery */
.demo-gallery {
  padding: 2%; }
  .demo-gallery h2 {
    margin: 0 0 2%; }

.list-unstyled {
  margin: 0; }
  .list-unstyled .gallery-item {
    padding: 0; }

/* details car */
.table-item {
  margin: 1% 0; }

/* article list */
.article {
  padding: 3% 5%;
  background: none; }
  .article h2 {
    color: #000; }
  .article .manage {
    padding: 1%; }
  .article .item {
    padding: 1%; }

/* article view */
.article-view {
  padding: 1%; }

/* Service Description */
.service-description ul {
  list-style: disc; }
.service-description h2 {
  margin: 0;
  background: #f6f6f6;
  padding: 1.5% 6.5%; }
.service-description .service-content {
  padding-top: 2%;
  padding-bottom: 2%; }

.service-register {
  background: #f6f6f6;
  padding: 2%; }

.bootstrap-timepicker-widget {
  width: 100%; }

/* pagination */
.pagination li > a,
.pagination li > a:hover,
.pagination li > a:focus {
  color: #C80A1B; }
.pagination .active > a,
.pagination .active > a:hover {
  background-color: #C80A1B;
  border-color: #C80A1B; }

.pagination > .active > a,
.pagination > .active > a:hover {
  background-color: #C80A1B;
  border-color: #C80A1B; }

/* dealer */
.dealer-manage {
  padding-top: 2%; }

.dealer-list {
  padding: 0;
  margin: 0; }
  .dealer-list .item {
    padding: 1%; }
  .dealer-list .item-info {
    background: #C80A1B;
    padding: 2%; }
    .dealer-list .item-info a {
      font-family: "Montserrat", sans-serif;
      color: #fff; }

/*# sourceMappingURL=style.css.map */
