/* Font imports */
@import 'https://fonts.googleapis.com/css?family=Montserrat';
@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed';
@import 'https://fonts.googleapis.com/css?family=Pacifico|Roboto:100i';
/* Declared variable */

$nav_color: #1a1a1a;
$open_sans: 'Open Sans', sans-serif;
$monserat: 'Montserrat', sans-serif;
/* Navigation Style */

html {
  font-size: 100%;
}

img {
  width: 100%;
}

html,body {
  height: 100%;
}

ul {
  list-style: none;
}

a, a:hover, a:focus {
  color: #000;
  text-decoration: none;
}

section {
  h2 {
    margin-bottom: 2%;
  }
}
.wrap {
  height:100%;
}

.form-control {
  border-radius: 0;
}

.alert {
  border-radius: 0;
  margin-bottom:0;
}

/* style for button manipulate */
.btn {
  border-radius: 0;
}

.btn-create {
  border: 1px solid #5cb85c;
  color: #5cb85c;
}

.btn-create:hover {
  background: #5cb85c;
  color: #FFFFFF;
  transition: .3s;
}

.btn-delete {
  border: 1px solid #b92c28;
  color: #b92c28;
}

.btn-delete:hover {
  background: #b92c28;
  color: #FFFFFF;
  transition: .3s;
}

.btn-update {
  border: 1px solid #286090;
  color: #286090;
}

.btn-update:hover {
  background: #286090;
  color: #FFFFFF;
  transition: .3s;
}

/* Set border for element */
.navbar, .manage-container,.news {
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}

.logo_container {
  .audi_logo {
    width: 100px;
    margin: 0 auto;
  }
}

nav {
  .navbar-header {
    background: #f6f6f6;
  }
  .icon-bar {
    background: $nav_color;
  }

  li a {
    color: $nav_color;
  }
  li:hover a {
    color: $nav_color;
  }
}

.navbar-nav {
  margin:0 -15px;
}
.navbar {
  margin:0;

  .dropdown {
    a {
      color: $nav_color;
    }
    ul {
      width: 100%;
    }
  }
}

.dropdown-menu {
  padding:0;
  border: none;
  border-radius: 0;

  li {
    padding:10px;
    border-bottom: 1px solid #f0f0f0;
  }

  li:hover {
    background: #f0f0f0;
    transition: all 0.3s ease;
  }

  li:hover a {
    background: none;
  }
}

/* Custom FlexSlide styles*/

.slider {
  padding:0;
}
.flexslider {
  border: none;
  margin-bottom: 0;

  .slides p {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    font-size: 3rem;
    top: 5%;
    color: #fff;
    padding-left: 0.3%;
  }
}

/* Services */

.services {
  p {
    padding-top:2%;
    font-family: $open_sans;
  }
  .container span {
    padding-right: 5px;
  }
}

/* News */

.news {

  .nav-pills {

    a {
      color: $nav_color;
    }

    li.active > a,
    li.active > a:hover,
    li.active > a:focus {
      background: #f0f0f0;
      color: $nav_color;
    }
  }

  #newsTab {
    margin-bottom: 1%;

    li a {
      border-radius: 0;
    }
  }

  #newsContent {
  padding-left: 1.5%;
    p {
      margin:2% 0;
    }
  }
}

/* Login form */
.login {
  padding-bottom: 5%;
}

/* Custom setting forms*/
.custom-form {
  padding-bottom: 2%;
}

/* Engine Section */
.engine, .transmission, .model, .list-image {

  .item {
    margin: 1% 0;
  }

}

.manage-control {
  margin:1% 2%;
}

/* Description Engine */

.description {
  p {
    font-family: 'Roboto', sans-serif
  }
}

/* Engine */
.engine-header, .transmission-header, .model-header {
  position: relative;
  width: 100%;

  p {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    font-size: 3rem;
    top: 63%;
    left: 3%;
    color: #fff;
    padding-left: 0.3%;
  }
}

/* List Image */

.list-image {

  .list-image-form {

  }

  .list-item {

    .item {
      width: 100%;

      p {
        margin-top: 2%;
      }
      img {
        border: 5px solid #FFFFFF;
        box-shadow: 0 0 2px #bababa;
      }
    }
  }
}

/* Scroll Top Button */
.scrollTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height:50px;
  z-index: 100;
}

.short-view {
  padding: 2%;
  h2 {
    margin: 0 0 2%;
  }
}

.highlights, .article{
  background: rgba(73, 73, 73, 0.62);
  padding: 3% 0;
  font-family: $monserat;
  color: #f0f0f0;

  h2 {
    margin: 0 0 2%;
  }
  .list-item {
    margin:0;
    padding: 0;
  }
  .item {
    padding: 0 3%;

    &:hover .item-info {
      background: rgba(200, 10, 27, 0.87);
      transition: .3s;
    }
    .item-info {
      padding: 3%;
      background: rgba(73, 73, 73, 0.62);

      a {
        color: #f0f0f0;
      }
    }
  }
}
/* car gallery */
.demo-gallery {
  padding: 2% ;
  h2 {
    margin: 0 0 2%;
  }
}
.list-unstyled {
  margin: 0;

  .gallery-item {
    padding: 0;
  }
}

/* details car */

.table-item {
  margin: 1% 0;
}

/* article list */

.article {

  background: none;

  h2 {
    color: #000;
  }
  .item {
    padding: 1%;
  }
}